<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                    <img class="img-responsive" src="<%=user.avatar%>" width="200px" height="200px">
                    </div>
               
                    <div class="col-sm-6 col-md-8">
                    <h4><%=user.firstName %> <%= user.lastName%>
                    </h4>
                    <p>
                    <i class="glyphicon glyphicon-envelope"></i><%=user.email%><br />
                    <p> <a class="btn btn-warning" href="/users/<%= user._id %>/edit">Edit</a></p>
                    </div>
                    
                    <div class="col-md-8">
                    <h3><%= user.username%>'s Campgrounds: </h3>
                    <ul>
                    <% campgrounds.forEach(function(campground){ %>
                        <li><a href="/campgrounds/<%=campground.id%>"> <%=campground.name%></a>
                        <% }) %>
                        </ul> 
                    </div>
                    
                </div>
                
            </div>
            
        </div>
    </div>
    <a input class="ui violet basic button " href="/campgrounds">Go Back</a>
</div>
<% include ../partials/footer %>